header {
  width: 100%;
  height: 160px;
  background-image: linear-gradient(rgb(16, 16, 16), rgb(18, 18, 18));
  padding: 20px;
  border-bottom: 3px solid rgb(251, 0, 213);
  box-shadow: 0 2pt 3pt rgb(0, 0, 0);
  margin-bottom: 30px;
}

body {
  background-color: rgb(36, 36, 36);
  position: relative;
  min-height: 100vh;
}

/* Title Text */
h1 {
  font-family: monospace;
  color: rgb(255, 255, 255);
  font-weight: 100;
  font-size: 28px;
  text-align: center;
  margin: 30px auto;
}

span {
  color: rgb(87, 87, 87);
}

/* Emoji  */
h3 {
  font-size: 20pt;
  text-align: center;
  margin-bottom: 30px;
}

/* Questions */
h2 {
  color: rgb(54, 100, 237);
  font-size: 20pt;
  font-weight: 200;
  font-family: monospace;
  margin: 15px 10px;
}

/* Answer key */
li {
  display: inline-flex;
  justify-items: left;
  flex-wrap: nowrap;
  align-items: center;
  font-family: monospace;
  color: rgb(73, 120, 79);
  font-size: 16pt;
  font-weight: 100;
  white-space: nowrap;
}

ul {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Highsores link */
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(251, 0, 213);
}

/* View Highsores & Time Remaining Text */
h4 {
  font-family: monospace;
  font-size: 12pt;
  font-weight: 100;
  color: rgb(255, 255, 255);
  margin: 10px;
  padding: 5px;
}

/* Time on the clock */
h5 {
  font-family: monospace;
  font-size: 30pt;
  font-weight: 200;
  padding: 10px 0;
  color: rgb(251, 0, 213);
}

/* Seconds label */
h6 {
  padding: 15px 15px 15px 5px;
  font-family: monospace;
  color: rgb(251, 0, 213);
}

.flexpage {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2.5rem;
  margin-bottom: 30px;
}

.flexcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

aside {
  width: 200px;
  border-radius: 15pt;
  background-image: linear-gradient(rgb(16, 16, 16), rgb(18, 18, 18));
  margin: 30px 40px;
  text-align: center;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(0, 0, 0);
  border-radius: 0 0 14pt 14pt;
}

section {
  width: 600px;
  padding: 20px;
  margin: 40px 0;
  border-radius: 15pt;
  background-image: linear-gradient(rgb(16, 16, 16), rgb(18, 18, 18));
}

/* All answers */
article {
  text-align: left;
}

/* Answer Buttons IDs   */
#btnA,
#btnB,
#btnC,
#btnD {
  font-size: 16pt;
  background-color: none;
  color: rgb(210, 185, 83);
  background-color: black;
  border-radius: 15pt;
  border: none;
  margin: 10px 20px;
  padding: 10px;
  visibility: hidden;
  white-space: normal;
}

#btnA:hover,
#btnB:hover,
#btnC:hover,
#btnD:hover {
  background-color: rgb(33, 33, 33);
}

/* START BUTTON */
#start {
  background-image: linear-gradient(rgb(16, 16, 16), rgb(18, 18, 18));
  width: 200px;
  border: none;
  border-radius: 20pt;
  margin: 30px auto;
  visibility: visible;
}

button h4:hover {
  color: rgb(251, 0, 213);
}

/* You Win pop up window  */
.messageWin {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  align-items: center;
  background-image: linear-gradient(rgb(16, 16, 16), rgb(36, 36, 36));
  width: 350px;
  height: 300px;
  box-shadow: 0 3pt 15pt black;
  padding: 20px;
  border-radius: 12pt;
  visibility: hidden;
}

/* You Lose pop up window  */
.messageLose {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  align-items: center;
  background-image: linear-gradient(rgb(16, 16, 16), rgb(36, 36, 36));
  width: 350px;
  height: 300px;
  box-shadow: 0 3pt 15pt black;
  padding: 20px;
  border-radius: 12pt;
  visibility: hidden;
}

/* you win graphic */
#youwin {
  margin: 30px auto;
  width: 150px;
  height: auto;
}

/* you lose graphic  */
#youlose {
  margin: 50px auto;
  width: 230px;
  height: auto;
}

input {
  width: 130px;
  margin-bottom: 20px;
}
input:focus {
  outline: 2px solid rgb(251, 0, 213);
}

.closeBtn {
  position: relative;
  align-self: flex-start;
  margin: 0;
  width: 30px;
  height: 30px;
  color: white;
  background-color: black;
  border-radius: 0%;
}

.closeBtn:hover {
  color: rgb(251, 0, 213);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  font-family: monospace;
  font-size: 10pt;
  color: rgb(87, 87, 87);
  background-color: rgb(40 39 39);
  margin-top: 80px;
  padding: 30px 10px 40px 10px;
}

@media screen and (max-width: 1200px) {
  .flexpage {
    flex-direction: column-reverse;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  /* .flexpage :nth-child(3) {
    order: 1;
  }
  .flexpage :nth-child(2) {
    order: 3;
  }
  .flexpage :nth-child(3) {
    order: 2;
  } */

  section {
    width: 600px;
  }

  footer {
    position: relative;
  }
}

@media screen and (max-width: 700px) {
  section {
    width: 90%;
  }
}
