body {
  background-color: rgb(36, 36, 36);
  position: relative;
  min-height: 100vh;
}

/* TITLE */
h1 {
  font-family: monospace;
  color: white;
  font-weight: 100;
  font-size: 28px;
  text-align: center;
  margin: 30px auto;
}

span {
  color: rgb(87, 87, 87);
}

/* EMOJIES */
h3 {
  font-size: 20pt;
  text-align: center;
  margin: 20px 15px 20px 10px;
}

/* INITIALS + SCORE PAIRS */
h2 {
  color: rgb(54, 100, 237);
  font-size: 18pt;
  font-weight: 200;
  font-family: monospace;
  margin: 15px 20px 15px 40px;
  text-align: left;
}

/* COMMENTED OUT PREFIX */
li {
  display: inline-flex;
  justify-items: left;
  flex-wrap: nowrap;
  align-items: center;
  font-family: monospace;
  color: rgb(73, 120, 79);
  font-size: 16pt;
  font-weight: 100;
  white-space: nowrap;
}

/* FULL CARD */
section {
  width: 600px;
  padding: 20px 30px;
  margin: 80px auto 30px auto;
  border-radius: 15pt;
  background-image: linear-gradient(rgb(16, 16, 16), rgb(18, 18, 18));
}

/* UL STYLING */
#topthree {
  margin-top: 30px;
  padding-left: 40px;
}

/* BUTTONS */
button {
  color: white;
  background-image: linear-gradient(rgb(16, 16, 16), rgb(18, 18, 18));
  width: 170px;
  border: none;
  border-radius: 20pt;
  margin: 30px;
}

/* BACK BUTTON */
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(251, 0, 213);
}

/* BUTTON TEXT */
h4 {
  font-family: monospace;
  font-size: 12pt;
  font-weight: 100;
  color: rgb(255, 255, 255);
  margin: 10px;
  padding: 5px;
}

h4:hover {
  color: rgb(251, 0, 213);
}

/* PAGE FLEX */
.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
}

/* BUTTON FLEX */
div {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  font-family: monospace;
  font-size: 10pt;
  color: rgb(87, 87, 87);
  background-color: rgb(40 39 39);
  margin-top: 80px;
  padding: 30px 10px 40px 10px;
}

#firstplace,
#secondplace,
#thirdplace {
  padding-top: 10px;
  height: 50px;
  width: 180px;
}

@media screen and (max-width: 700px) {
  section {
    width: 80%;
    padding: 5px;
  }

  ul {
    padding: 0;
  }

  h3 {
    margin: 20px 10px 20px 0px;
  }

  footer {
    margin-top: 40px;
  }
}
